/* Color Pallete for Website
    #FD5E53
    #F9FCFB
    #B0EACD
    #21BF73

*/

                    /* Pagewide Settings */
h1 {
    color: #f9fcfb;
}

h2 {
    color:#21bf73;
}

h3 {
    color: #21bf73;
}

p {
    color: #B0EACD;
    font-weight: 600;
}

body {
    background-color: #f9fcfb;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.container-fluid {
    padding: 5% 13%;
}

                    /* Navbar */

.navbar {
    padding: 0 0 5%;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight:300;
}

.nav-link {
    font-weight: 400;
    font-size: 1.2rem;
}

                    /* Title */
#title {
    background-color: #21bf73;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 13%;
}

.title-h1 {
    font-size: 3rem;
    font-weight: 900;
}

.title-emphasis {
    color:#FD5E53;
    text-shadow: 5px 5px #B0EACD;
}

.title-p {
    font-size: 1.3rem;
    color: #f9fcfb;
    font-weight: 500;
}

.phone-img-title {
    height: 600px;
    transform: rotateZ(15deg);
    position:absolute;
    margin-left: 10%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}


.button-title {
    margin: 5% 3% 5%;
}

                    /* Features */

#features {
    position: relative;
    z-index: 2;
    background-color:#f9fcfb;
}

.feature-icon {
    font-size: 3rem;
    color: #FD5E53;
    transition: all 0.3s ease-in-out;
}

.feature-icon:hover {
    color:#B0EACD;
    text-shadow: 7px 10px #FD5E53;
    transform: translatey(-10px)
}

.features-h3 {
    font-size: 1.4rem;
    font-weight: 700;
}

.features-p {
    color: #B0EACD;
}

.feature-item {
    padding: 5%;
}

                    /* Testimonials */

#testimonials {
    background-color:#B0EACD;
}

.testimonial-picture {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.testimonial-carousel-header {
    font-size: 2.7rem;
    font-weight: 700;
}

.testimonial-carousel-item {
    font-size: 1.3rem;
}

.testimonial-em {
    color:#FD5E53;
}



                    /* Press */

#press {
    background-color:#B0EACD;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

                    /* Pricing */

#pricing {
    /* so far serves no purpose, leaving it here
    incase we need to use it soon */
}

.pricing-row {
    padding: 0% 2%;
}

.pricing-p {
    color:#B0EACD;
    padding: 0%;
}

.pricing-h2 {
    font-weight: 900;
    font-size: 2.3rem;
}

.pricing-h3 {
    font-size: 1.6rem;
}

.pricing-card-p {
    color:#FD5E53;
}

.button-length {
    width: 100%;
}

.middle-class {
    color:#FD5E53;
}

                    /* Call to Action */

#cta {
    padding-top: 5%;
    background-color:#21bf73;
}

.cta-h1 {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1%;
}

.cta-p {
    color:#B0EACD;
    padding-bottom: 1%;
}

.button-cta {
    margin: 0 0.8%;
    margin-bottom: 5%;
    margin-top: 1%;   
}

.cta-emphasis {
    text-shadow:#FD5E53 3px 3px;
}

                    /* Footer */

#footer {
    padding: 3%;
}

.footer-p {
    color:#FD5E53;
    font-size: 0.8rem;
}

.github-link {
    color: #FD5E53;
    transition: all 0.1s ease-in-out
}

.github-link:hover {
    color:#21bf73;
    font-size: 1.3rem;
}

.github-icon {
    transition: 0.2s all ease-in-out;
}
                    /* If tablet sized or smaller */

@media (max-width: 990px) {

    #title {
        text-align: center;
    }

    .phone-img-title {
        height: 500px;
        margin-left: 0%;
        position: static;
        transform: rotateZ(0deg);
    }

    .github-icon {
        font-size: 1.2rem;
    }
}

