/* TRY THESE COLOR PALLETES AND SEE WHICH ONE I LIKE

    #FAFAFA
    #E3E3E3
    #EE6F57
    #CB3737

    #F4F3F3
    #DFDFDF
    #BFD8D5
    #B1BED5

    #333333
    #FFFFFF
    #E1F4F3
    #706C61

    #FD5E53
    #F9FCFB
    #B0EACD
    #21BF73

*/

                    /* Pagewide Settings */
h1 {
    color: #f9fcfb;
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    color:#21bf73;
    font-weight: 900;
    font-size: 2.3rem;
}

h3 {
    font-size: 1.7rem;
    font-weight: 600;
}

p {
    font-weight: 600;
}

body {
    background-color: #f9fcfb;
}

                    /* Navbar */

.navbar {
    padding-bottom: 4.5rem;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight:300;
}
.nav-link {
    font-weight: 400;
    font-size: 1.2rem;
}

                    /* Title */
#title {
    /* #21bf73 */
    background-color: #21bf73;
}

.container-fluid {
    padding: 3% 13% 8%;
}

.title-emphasis {
    color:#FD5E53;
    text-shadow: 5px 5px #B0EACD;
}

.title-joke {
    font-size: 1.3rem;
    color: #f9fcfb;
    font-weight: 500;
}

.phone-img-title{
    height: 600px;
    transform: rotateZ(15deg);
    position:absolute;
    margin-left: 10%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.img-container {
    /* height: 300px; */
}

.button-title {
    margin: 5% 3% 5%;
}

                    /* Features */

#features {
    position: relative;
    z-index: 2;
    background-color:#f9fcfb;
}

.feature-container {
   padding: 5% 5%;
}

.feature-icon {
    font-size: 3rem;
    color: #FD5E53;
    transition: all 0.3s ease-in-out;
}

.features-h3 {
    color:#21bf73;
}

.features-p {
    color: #B0EACD;
}

.feature-icon:hover {
    color:#B0EACD;
    text-shadow: 5px 5px #FD5E53;
}

.feature-item {
    text-align: center;
    padding: 5%;
}

                    /* Testimonials */

#testimonials {
    color: #FD5E53;
    text-align: center;
    background-color:#B0EACD;
}

.testimonial-picture {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.carousel-header {
    font-size: 2.7rem;
}

.carousel-item {
    padding: 7% 15%;
    font-size: 1.3rem;
}



                    /* Press */

#press {
    background-color:#B0EACD;
    text-align: center;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

                    /* Pricing */

#pricing {
    text-align: center;
    padding: 7% 12%;
}

.pricing-row {
    padding: 3% 2%;
}

.pricing-p {
    color:#B0EACD;
    padding: 1%;
}

.pricing-h3 {
    color:#21bf73;
}

.button-length {
    width: 100%;
}

.middle-class {
    color:#FD5E53;
}

                    /* If tablet sized or smaller */

@media (max-width: 990px) {

    #title {
        text-align:center;
    }

    .phone-img-title {
        position: static;
        transform: rotateZ(0deg);
    }
}

